<section id="features">
    <div class="container">

        <div class="row">
            <div class="col-md-6 feature-item">
                <div class="feature wow fadeInUp">
                    <div class="f-icon"><i class="lnr lnr-lock"></i></div>
                    <div class="f-description">
                        <h4>Broadcast Messages to Thousands of Subscribers</h4>
                        <p>Mr. Reply let’s you broadcast messages to all your subscribers at once. You can use this to send news, content updates, valuable notifications or anything else, that your users subscribed to. Unlike News Feed – there is no algorithm. Your subscribers are forever yours.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 feature-item">
                <div class="feature wow fadeInUp" data-wow-delay=".1s">
                    <div class="f-icon"><i class="lnr lnr-clock"></i></div>
                    <div class="f-description">
                        <h4>Send highly relevant message</h4>
                        <p>Advanced segmentation by tag system Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat facere aspernatur ipsa blanditiis a voluptatum. Voluptate laboriosam, culpa magnam ex, sit cumque. In odio molestias, maxime reprehenderit nostrum a asperiores.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-t-20">

            <div class="col-md-6 feature-item">
                <div class="feature wow fadeInUp">
                    <div class="f-icon"><i class="lnr lnr-lock"></i></div>
                    <div class="f-description">
                        <h4>Convert visitors into leads</h4>
                        <p>using built-in widget Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolores voluptate voluptates consectetur dolore esse voluptatum. Quaerat consequatur, eveniet amet nemo. Optio animi dicta unde architecto at alias fugiat, eaque..</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 feature-item">
                <div class="feature wow fadeInUp" data-wow-delay=".1s">
                    <div class="f-icon"><i class="lnr lnr-clock"></i></div>
                    <div class="f-description">
                        <h4>Schedule Messages, Wave your hustles</h4>
                        <p>Wave your hustles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem eum tenetur cupiditate nostrum, enim? Soluta, ab molestias ad, suscipit repellat illo mollitia. Quaerat nulla doloremque reprehenderit porro quasi repellat autem.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- //Features -->

<section id="map-feature">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>We are almost everywhere</h2>
                <p>
                    Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
                    <br><br>
                    Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
                </p>
                <div class="partners">
                    <div class="title">Partners</div>
                    <ul>
                        <li><a href="#"><img src="img/dropbox.png" alt="Dropbox"></a></li>
                        <li><a href="#"><img src="img/evernote.png" alt="Dropbox"></a></li>
                    </ul>
                </div>
            </div>

            <div class="map-showcase wow fadeInRight">
                <div class="map">
                    <img src="img/map.png" alt="">
                </div>
            </div><!-- //Map Showcase -->

        </div>
    </div>
</section><!-- //Map Feature -->