<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="wow fadeInUp font-montserrat m-b-30">Create a Facebook bot to engage your audience.</h2>
                <p class="wow fadeInUp" data-wow-delay=".2s">Send news and content, automate interaction and much more. With Mr. Reply, Launch a full-featured chatbot in 7 minutes with easy setup and No coding required . </p>

                <a ui-sref="login" class="btn btn-lg btn-rounded btn-primary nwow fadeInUp m-t-45" data-wow-delay=".3s">
                    Create your FB Chatbot Now
                </a>
            </div>
        </div>
    </div>
</section><!-- //Header -->

<section id="customers">
    <div class="container">
        <div class="row">
            <div id="testimonials-slider">
                <div class="col-md-6 col-md-offset-3 text-center">

                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                    <img class="img-responsive " src="img/user1.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1">
                                    <img class="img-responsive" src="img/user2.jpg" alt="">
                                    <div class="shadow"></div>
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2">
                                    <img class="img-responsive" src="img/user3.jpg" alt="">
                                </li>
                            </ol>


                            <!-- Quote 1 -->
                            <div class="item active">
                                <div class="testimonial">
                                    <h3>Mr. Reply Great Feature 1</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perspiciatis alias, impedit nemo hic quisquam corporis tempora amet atque eligendi ut, reprehenderit veritatis, eius accusamus.</p>
                                </div>
                            </div>

                            <!-- Quote 2 -->
                            <div class="item">
                                <div class="testimonial">
                                    <h3>Mr. Reply Great Feature 2</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perspiciatis alias, impedit nemo hic quisquam corporis tempora amet atque eligendi ut, reprehenderit veritatis, eius accusamus.</p>
                                </div>
                            </div>

                            <!-- Quote 3 -->
                            <div class="item">
                                <div class="testimonial">
                                    <h3>Mr. Reply Great Feature 3</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perspiciatis alias, impedit nemo hic quisquam corporis tempora amet atque eligendi ut, reprehenderit veritatis, eius accusamus.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <!-- <a data-slide="prev" href="" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- //Customers -->

 



