<section id="header" style="padding: 10rem 0 6rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">

                <h1 class="wow fadeInUp font-montserrat m-b-30">Free plan with all the basic features. <br> Pro plan for advanced users.</h1>

                <a ui-sref="login" class="btn btn-lg btn-rounded btn-primary nwow fadeInUp m-t-45" data-wow-delay=".3s">
                    Create your FB Chatbot Now
                </a>
            </div>
        </div>
    </div>
</section><!-- //Header -->


<section id="plan" class="bg-master-lightest">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 text-center col-md-push-2 m-b-40">
                <h2 class="semi-bold">Choose your perfect plan</h2>
                <p>We keep things simple — there’s no coding required, and you can build a bot without cost getting in the way. Yet we're ready to answer your more demands through flexible pricing tiers for Pro Mr. Reply Users</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="pricing-slider" class="noUi-target noUi-ltr noUi-horizontal noUi-background"></div>
            </div>
        </div>

        <div class="row m-t-25">
            <h3 class="text-center m-t-50" id="price-details">
                Engage up to <span id="pricing-counter" class="text-success bold"></span> subscribers
                <br>for <span id="pricing-value" class="text-info semi-bold"></span> per month.
            </h3>

            <h3 class="text-center m-t-50" id="contact-us" style="display: none">
                If you have more subscribers
                <br>
                feel free to <a class="text-primary bold" href="#">Contact Us</a>.
            </h3>
        </div>
    </div>

</section>