<button-details ng-if="$ctrl.message.type == 'button'" message="$ctrl.message"></button-details>

<div class="view chat-view bg-white clearfix" ng-if="$ctrl.message.type != 'button'">
    <div class="chat-inner">
        <div class="message clearfix">
            <div class="profile-img-wrapper m-t-5 inline">
                <img class="col-top" width="30" height="30" ng-src="{{ $root.bot.page.avatar_url }}" alt="{{ $root.bot.page.name }}">
            </div>
            <text-details ng-if="$ctrl.message.type == 'text'" message="$ctrl.message"></text-details>
            <image-details ng-if="$ctrl.message.type == 'image'" message="$ctrl.message"></image-details>
            <card-container-details ng-if="$ctrl.message.type == 'card_container'" message="$ctrl.message"></card-container-details>
        </div>
    </div>
</div>
<hr />