<div class="row">
    <div class="col-xs-{{ $ctrl.manager.newBlocksCols }}">
        <div class="panel panel-default bg-master-lighter" pg-portlet>
            <div class="panel-heading">
                <div class="panel-title">Card Block</div>
                <div class="panel-controls">
                    <ul>
                        <li ng-if="$ctrl.manager.canMoveNext($ctrl.messageBlock)">
                            <a href="" ng-click="$ctrl.manager.moveNext($ctrl.messageBlock)" bs-tooltip data-original-title="Move Down">
                                <i class="fa fa-arrow-down"></i>
                            </a>
                        </li>
                        <li ng-if="$ctrl.manager.canMovePrevious($ctrl.messageBlock)">
                            <a href="" ng-click="$ctrl.manager.movePrevious($ctrl.messageBlock)" bs-tooltip data-original-title="Move Up">
                                <i class="fa fa-arrow-up"></i>
                            </a>
                        </li>
                        <li ng-if="$ctrl.manager.removable($ctrl.messageBlock)">
                            <a href="" class="portlet-close" ng-click="$ctrl.manager.remove($ctrl.messageBlock)" bs-tooltip data-original-title="Remove">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" class="portlet-collapse" data-toggle="collapse" bs-tooltip data-original-title="Collapse / Expand">
                                <i class="fa fa-compress"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-body m-t-15">
                <div class="row">
                    <div ng-class="{ 'col-xs-12' : $ctrl.manager.noPreview, 'col-xs-7': !$ctrl.manager.noPreview}">
                        <card-container-block message-block="$ctrl.messageBlock"></card-container-block>
                    </div>

                    <div ng-if="!$ctrl.manager.noPreview" class="col-xs-5">
                        <div class="view chat-view bg-white clearfix">
                            <div class="chat-inner">


                                <!-- Text Preview Block -->
                                <div class="message clearfix">
                                    <div class="profile-img-wrapper m-t-5 inline">
                                        <img class="col-top" width="30" height="30" ng-src="{{$root.page.avatar_url}}" alt="{{$root.page.name}}">
                                    </div>

                                    <div id="preview_carousel_{{ $ctrl.getHashKey() }}" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false" data-keyboard="false">
                                        <div class="carousel-inner m-l-45 sm-m-l-25" style="width: 90%">
                                            <div class="item" ng-class="{'active': $first}" ng-repeat="card in $ctrl.messageBlock.message_blocks">
                                                <div style="max-width: 80%;border-radius: 0px;background: #fff;margin: 5px 0 5px 15px;padding: 10px 10px;" class="chat-bubble from-them">
                                                    <img ng-src="{{ card.image_url }}" class="img-responsive" alt="">
                                                    <p class="fs-14 bold p-t-10 text-black">{{ card.title }}</p>
                                                    <p class="fs-12 light hint-text">{{ card.subtitle }}</p>
                                                    <p class="fs-12 light hint-text">{{ card.url }}</p>
                                                </div>
                                                <div class="m-t-5" ng-repeat="button in card.message_blocks">
                                                    <div style="max-width: 80%;" class="m-t-5">
                                                        <button class="btn btn-sm text-primary semi-bold btn-rounded btn-block">
                                                            {{ button.title }}
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <a href="" class="left carousel-control" data-target="#preview_carousel_{{ $ctrl.getHashKey() }}" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                                        <a href="" class="right carousel-control" data-target="#preview_carousel_{{ $ctrl.getHashKey() }}" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



