<div class="row">
    <div class="col-xs-{{ $ctrl.manager.newBlocksCols }}" >
        <div class="panel panel-default bg-master-lighter" pg-portlet>
            <div class="panel-heading">
                <div class="panel-title">Text Block</div>
                <div class="panel-controls">
                    <ul>
                        <li ng-if="$ctrl.manager.canMoveNext($ctrl.messageBlock)">
                            <a href="" ng-click="$ctrl.manager.moveNext($ctrl.messageBlock)" bs-tooltip data-original-title="Move Down">
                                <i class="fa fa-arrow-down"></i>
                            </a>
                        </li>
                        <li ng-if="$ctrl.manager.canMovePrevious($ctrl.messageBlock)">
                            <a href="" ng-click="$ctrl.manager.movePrevious($ctrl.messageBlock)" bs-tooltip data-original-title="Move Up">
                                <i class="fa fa-arrow-up"></i>
                            </a>
                        </li>
                        <li ng-if="$ctrl.manager.removable($ctrl.messageBlock)">
                            <a href="" class="portlet-close" ng-click="$ctrl.manager.remove($ctrl.messageBlock)" bs-tooltip data-original-title="Remove">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" class="portlet-collapse" data-toggle="collapse" bs-tooltip data-original-title="Collapse / Expand">
                                <i class="fa fa-compress"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-body m-t-15">

                <div class="row">
                    <div ng-class="{ 'col-xs-12' : $ctrl.manager.noPreview, 'col-xs-7': !$ctrl.manager.noPreview}">
                        <text-block allow-send-trees="true" message-block="$ctrl.messageBlock"></text-block>
                    </div>


                    <div ng-if="!$ctrl.manager.noPreview" class="col-xs-5">

                        <div class="view chat-view bg-white clearfix ">

                            <div class="chat-inner">
                                <div class="message clearfix">
                                    <div class="profile-img-wrapper m-t-5 inline">
                                        <img class="col-top" width="30" height="30" ng-src="{{ $root.page.avatar_url }}" alt="{{ $root.page.name }}" ui-jq="unveil">
                                        <div style="position: absolute;top: 40px;left: 50px;height: 12px;width: 12px;">
                                            <div style="background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v3/yY/r/rSSXzyOhqcP.png);background-repeat: no-repeat;background-size: auto;background-position: -13px -2129px;height: 12px;width: 12px;"></div>
                                        </div>
                                    </div>

                                    <div style="max-width: 80%;margin: 5px 0 5px 15px;padding: 5px 10px;" class="chat-bubble from-them">
                                        <p>{{ $ctrl.messageBlock.text }}</p>
                                    </div>

                                    <!-- Buttons Block -->
                                    <div class="m-t-5" ng-repeat="button in $ctrl.messageBlock.message_blocks">
                                        <div style="max-width: 80%;" class="m-t-5 m-l-40">
                                            <button class="btn btn-sm text-primary semi-bold btn-rounded btn-block">
                                                {{ button.title }}
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Buttons Block -->

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




