<div class="container-xs-height full-height">
    <div class="row-xs-height">
        <div class="col-xs-height col-middle">
            <div class="error-container text-center">
                <h1 class="error-number">404</h1>
                <h2 class="semi-bold">Sorry but we couldn't find this page</h2>
                <p>This page you are looking for does not exist <a ui-sref="app.bot.index">Go to Manage Bots page?</a></p>
            </div>
        </div>
    </div>
</div>


<div class="pull-bottom sm-pull-bottom full-width">
    <div class="error-container">
        <div class="error-container-innner">
            <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">

                <div class="col-sm-12 text-center no-padding">
                    <a href="/">
                        <img alt="" class="m-t-5" src="/img/logo.png" />
                    </a>
                </div>

                <div class="col-sm-12 m-t-20 no-padding text-center">
                    <p>Build a Facebook bot without coding with <span class="semi-bold">Mr. Reply</span></p>
                </div>

            </div>
        </div>
    </div>
</div>