<div class="container-xs-height full-height">
    <div class="row-xs-height">
        <div class="col-xs-height col-middle">
            <div class="error-container text-center">
                <h1 class="error-number">Oops!</h1>
                <h2 class="semi-bold">
                    Button
                    <span class="text-danger">deleted</span>
                    <small>or invalid</small>
                    !
                </h2>
                <p>Either the configuration for the button you clicked no longer exist, or the chat bot for this page has been deactivated</p>
            </div>
        </div>
    </div>
</div>


<div class="pull-bottom sm-pull-bottom full-width">
    <div class="error-container">
        <div class="error-container-innner">
            <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">

                <div class="col-sm-12 text-center no-padding">
                    <a href="https://mrreply.com">
                        <img alt="" class="m-t-5" src="/img/logo.png"/>
                    </a>
                </div>

                <div class="col-sm-12 m-t-20 no-padding text-center">
                    <p>Build a Facebook bot without coding with <span class="semi-bold">Mr. Reply</span></p>
                </div>

            </div>
        </div>
    </div>
</div>