<div class="modal fade slide-up disable-scroll " id="errorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fs-14"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2 class="text-danger">
                                <i class="fa fa-remove" style="font-size: 120px"></i><br />
                                {{ title }}
                            </h2>
                            <h5>{{ message }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button type="button" class="btn btn-danger m-t-25" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
