<div class="row">
    <div class="col-xs-12">
        <div class="form-group form-group-default p-t-15 p-b-15" ng-if="$ctrl.enableTargetingControl">
            <label class="inline p-r-20 fs-14">Enable Targeting: </label>
            <input type="checkbox" class="js-switch" ui-switch="{color: '#10cfbd', size: 'small'}" ng-model="$ctrl.context.filter_enabled" />
            <p class="inline p-l-20 fs-14 m-b-0 m-t-5 bold">
                <span class="label label-success" ng-if="$ctrl.context.filter_enabled">Enabled</span>
                <span class="label label-danger" ng-if="!$ctrl.context.filter_enabled">Disabled</span>
            </p>
        </div>
        <div ng-if="$ctrl.context.filter_enabled">
            <div ng-if="!$ctrl.context.filter_groups.length" class="alert alert-warning">
                If you don't add any filter groups, all your active subscribers will be targeted.
            </div>
            <div ng-repeat="group in $ctrl.context.filter_groups" class="panel panel-default filter-group filter_group_{{ $ctrl.context.filter_type}}" pg-portlet>
                <div class="panel-heading">
                    <div class="panel-title">
                        Group #{{$index+1}} matching
                        <select ng-model="group.type">
                            <option value="and">All</option>
                            <option value="or">Any</option>
                            <option value="none">None</option>
                        </select>
                        of the following:
                    </div>
                    <div class="panel-controls">
                        <ul>
                            <li>
                                <a href="" class="portlet-collapse" data-toggle="collapse" bs-tooltip data-original-title="Collapse / Expand">
                                    <i class="fa fa-compress"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="portlet-close" ng-click="$ctrl.removeGroup(group)" bs-tooltip data-original-title="Remove">
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body p-t-30">
                    <div class="row">

                        <div ng-repeat="rule in group.rules" class="filter_rule_item_wrapper filter_rule_{{ group.type}} col-sm-6 text-black">
                            <div class="filter_rule_item">
                                <div class="filter_rule_preview">
                                    <select ng-model="rule.key">
                                        <option ng-repeat="ruleType in $ctrl.allowedRuleTypes" value="{{ ruleType }}">{{ ruleType | capitalize }}</option>
                                    </select>
                                    <select ng-if="rule.key == 'gender'" ng-model="rule.value">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <select ng-if="rule.key == 'tag'" ng-model="rule.value">
                                        <option ng-repeat="tag in $ctrl.tags" value="{{ tag }}" ng-if="tag">{{ tag }}</option>
                                    </select>
                                    <select ng-if="rule.key == 'sequence'" ng-model="rule.value" ng-init="$ctrl.sequences[0].id">
                                        <option ng-repeat="sequence in $ctrl.sequences" value="{{ sequence.id }}">{{ sequence.name }}</option>
                                    </select>
                                    <a ng-click="$ctrl.removeRule(group.rules, rule)" class="text-danger"><i class="fa fa-remove"></i></a>
                                </div>
                            </div>
                        </div>


                        <div class="filter_new_rule_item_wrapper col-sm-6">
                            <div class="filter_new_rule_item" ng-click="$ctrl.addRule(group)">
                                <div class="filter_new_rule_preview">
                                    <span class="bold text-primary">+ Add new rule</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <a ng-click="$ctrl.addGroup()">
                <div class="panel panel-default" style="border: 2px dashed rgba(230, 230, 230, .7);">
                    <div class="panel-body text-center">
                        <h5 class="text-primary semi-bold">+ Add new filtration group</h5>
                    </div>
                </div>
            </a>
            <select class="full-width" ng-model="$ctrl.context.filter_type">
                <option value="and">Matching all groups (AND)</option>
                <option value="or">Matching any group (OR)</option>
            </select>
        </div>

        <h2 class="text-center m-t-20">
            <span ng-style="{'visibility': $root.loading? 'visible' : 'hidden'}" class="text-danger" style="font-size: 20px;"><i class="fa fa-spin fa-spinner"></i></span>
            <br />
            <span class="bold text-success">{{ $ctrl.count | number }}</span>
            <br />
            <span class="fs-16">Current <abbr class="bold" bs-tooltip data-original-title="Unsubscribed users may not receive any messages!">ACTIVE</abbr> subscribers who match your filter criteria.</span>
        </h2>
    </div>
</div>



