<h4>Disabled Chatbots</h4>
<div ng-if="$ctrl.disabledBots.length">
    <div class="row m-t-20 text-center" ng-repeat="row in $ctrl.disabledBots.tablized">
        <div class="col-md-4 m-t-10 padding-10" ng-repeat="bot in row | filter:search">
            <div class="padding-10" style="border: 1px dashed;">
                <img ng-src="{{ bot.page.avatar_url }}" alt="{{ bot.page.name }}" style="width: 65px">
                <h5 class="font-montserrat">{{ bot.page.name }}</h5>
                <button class="btn btn-cons btn-success" ng-click="$ctrl.openEnableBotModal(bot)">Enable</button>
            </div>
        </div>
    </div>

    <div class="row m-t-10">
        <div class="col-md-12">
            <pagination context="$ctrl.disabledBots.meta.pagination" page-changed-callback="$ctrl.paginateDisabled(page)"></pagination>
        </div>
    </div>
</div>

<div class="row m-b-20" ng-if="!$ctrl.disabledBots.length">
    <div class="col-xs-12">
        <div class="alert alert-info">You don't have any disabled bot!</div>
    </div>
</div>

<div class="row m-t-20">
    <div class="col-xs-12 text-center">
        <a ui-sref="app.bot.create" class="btn btn-primary btn-lg m-r-10">New Chat Bot</a>
        <a ng-if="$ctrl.activeBotCount.count" ui-sref="app.bot.index" class="btn btn-lg btn-default m-r-10">
            Manage Existing Bots
            ({{$ctrl.activeBotCount.count | number }})
        </a>
    </div>
</div>
