<div class="modal fade slide-up">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fs-14"></i></button>
                </div>
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="modal-body col-xs-height col-middle text-center">
                            <h5>Do you want to <span class="semi-bold text-success">reconnect</span> Mr. reply chat-bot for <strong>{{ bot.page.name }}</strong> page?</h5>
                            <br>
                            <button type="button" class="btn btn-success btn-block" ng-click="enable()">Yes, Enable Bot</button>
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>