<div ng-if="::$ctrl.bots.length">

    <div class="input-group m-t-20">
        <input type="text" class="form-control" ng-model="search.name" placeholder="Filter">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>

    <div class="row m-t-20 text-center">

        <div class="col-xs-3 m-t-10" ng-repeat="bot in ::$ctrl.bots | filter:search">
            <a ui-sref="app.dashboard.overview({botId: bot.id})">
                <img ng-src="{{ ::bot.page.avatar_url }}" alt="{{ ::bot.page.name }}" style="width: 65px">
                <h6 class="font-montserrat">{{ ::bot.page.name }}</h6>
            </a>
        </div>

        <div class="col-xs-3 m-t-10">
            <a ui-sref="app.bot.create">
                <img ng-src="/img/add_more.svg" alt="Add more" style="width: 65px">
                <h6 class="font-montserrat text-primary">Add More</h6>
            </a>
        </div>

    </div>

</div>

<div ng-if="::(!$ctrl.bots.length)">
    <div class="alert alert-info">You don't have any bots, yet.</div>
    <div class="text-center">
        <a ui-sref="app.bot.create" class="btn btn-lg btn-primary m-t-20 m-b-20">Create your first chat-bot!</a>
    </div>
</div>
