<h4>Your Chatbots</h4>
<div ng-if="$ctrl.activeBots.length">
    <div class="row m-t-20 text-center row-same-height" ng-repeat="row in $ctrl.activeBots.tablized">
        <div class="col-md-3 m-t-10" ng-repeat="bot in row">
            <a ui-sref="app.dashboard.overview({botId: bot.id})">
                <img ng-src="{{ bot.page.avatar_url }}" alt="{{ bot.page.name }}" style="width: 65px">
                <h6 class="font-montserrat">{{ bot.page.name }}</h6>
            </a>
        </div>
    </div>
    <div class="row m-t-10">
        <div class="col-md-12">
            <pagination context="$ctrl.activeBots.meta.pagination" page-changed-callback="$ctrl.paginateEnabled(page)"></pagination>
        </div>
    </div>
</div>

<div ng-if="!$ctrl.activeBots.length">
    <div class="alert alert-info">You don't have any active bots.</div>
    <div class="text-center">
        <a ui-sref="app.bot.create" class="btn btn-lg btn-primary m-t-20">Create your first chat-bot!</a>
    </div>
</div>

<div class="m-t-10">
    <div class="text-center">
        <a ng-if="$ctrl.activeBots.length" ui-sref="app.bot.create" class="btn btn-primary m-r-10">New Chat Bot</a>
        <a ng-if="$ctrl.disabledBotCount.count" ui-sref="app.bot.disabled" class="btn btn-danger">Disabled Bots ({{ $ctrl.disabledBotCount.count | number }}) </a>
    </div>
</div>

