<div class="lock-container full-height">

    <default-toaster></default-toaster>

    <div class="login-container bg-white">
        <div class="p-l-20 m-l-20 p-r-20 m-r-20 p-t-50 p-b-50 m-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <fieldset ng-disabled="$root.loading">
                <div class="m-b-10 p-b-10 b-b b-grey">
                    <h5 class="all-caps bold inline no-margin">Mr. Reply</h5>
                    <a ui-sref="app.logout" class="btn btn-complete pull-right">Logout</a>
                </div>
                <div ui-view class="p-t-5"></div>
            </fieldset>
        </div>
    </div>

</div>
