<body>
<div class="lock-container full-height">
    <toaster-container style="top:50px" toaster-options="{'time-out': 4000, 'close-button': true}"></toaster-container>
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 p-b-50 m-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="/img/logo.png" alt="logo" data-src="/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            <div ng-if="$ctrl.pages">
                <fieldset ng-disabled="$root.loading">
                    <div class="input-group m-t-20">
                        <input type="text" class="form-control" ng-model="search.name" placeholder="Filter">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="row m-t-20 text-center">
                        <div class="col-xs-3 m-t-10" ng-repeat="page in $ctrl.pages | filter:search">
                            <a ui-sref="dashboard.overview({facebookId: page.facebook_id})">
                                <img ng-src="{{ page.avatar_url }}" alt="{{page.name}}" style="width: 65px">
                                <h6 class="font-montserrat">{{ page.name }}</h6>
                            </a>
                        </div>
                        <div class="col-xs-3 m-t-10">
                            <a ui-sref="create-bot">
                                <img ng-src="/img/add_more.svg" alt="Add more" style="width: 65px">
                                <h6 class="font-montserrat text-primary">Add More</h6>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</body>
