<body>
<!-- START PAGE-CONTAINER -->
<div class="lock-container full-height">

    <toaster-container style="top:50px" toaster-options="{'time-out': 4000, 'close-button': true}"></toaster-container>

    <div class="login-container bg-white">
        <div class="p-l-20 m-l-20 p-r-20 m-r-20 p-t-50 p-b-50 m-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40">

            <fieldset ng-disabled="$root.loading">

                <img src="/img/logo.png" alt="logo" data-src="/img/logo.png" data-src-retina="assets/img/logo_2x.png" class="m-b-20" width="78" height="22">

                <div ng-if="!$ctrl.remotePages.data">


                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="search.name" placeholder="Filter">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="page in $ctrl.remotePages | filter:search" class="checkbox check-primary checkbox-circle">
                                <input type="checkbox" value="{{ page.facebook_id }}" ng-click="$ctrl.toggleSelection(page)" ng-checked="$ctrl.isSelected(page)" id="{{ page.facebook_id }}">
                                <label for="{{ page.facebook_id }}" style="width: 100%">
                                    {{ page.name }}
                                    <span class="label label-inverse" ng-if="$ctrl.hasBot(page)">
                                        (Chat-Bot managed by another admin)
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!$ctrl.remotePages.length" class="alert alert-warning m-t-20">
                        <p class="lead semi-bold">
                            You need at least one Facebook Page to create a bot.<br /><br />
                            Click <a href="https://www.facebook.com/pages/create/" target="_blank">here</a> to create it, then come back and click on the refresh button.
                        </p>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <button bs-tooltip data-toggle="tooltip" data-original-title="Refresh" ng-click="$ctrl.refresh()" class="btn btn-sm btn-success">
                                <!--<i class="fa fa-refresh" ng-class="{'fa-spin': $root.loading}"></i>-->
                                <i class="fa fa-refresh"></i>
                            </button>

                            <button ng-disabled="$ctrl.shouldDisableButton()" ng-click="$ctrl.createBots()" class="btn btn-sm btn-primary">
                                Manage Selected Page(s)
                            </button>

                            <a ng-if="$ctrl.disabledBots.length" ui-sref="disabled-bots" class="btn btn-sm btn-danger pull-right">
                                Disabled Bots ({{ $ctrl.disabledBots.length | number }})
                            </a>

                            <a ng-if="$ctrl.activeBots.length" ui-sref="choose-bot" class="btn btn-sm m-r-5 btn-info pull-right">
                                Existing Bots ({{ $ctrl.activeBots.length | number }})
                            </a>

                        </div>
                    </div>

                </div>

                <div ng-if="$ctrl.remotePages.data && $ctrl.remotePages.data.message == 'missing_permissions'">
                    <div ng-include="'/templates/auth/permissions.html'"></div>
                </div>

            </fieldset>

        </div>
    </div>
</div>
</body>

