<body>
<div class="lock-container full-height">
    <toaster-container style="top:50px" toaster-options="{'time-out': 4000, 'close-button': true}"></toaster-container>
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 p-b-50 m-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="/img/logo.png" alt="logo" data-src="/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            <fieldset ng-disabled="$root.loading">
                <div class="input-group m-t-20">
                    <input type="text" class="form-control" ng-model="search.name" placeholder="Filter">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
                <div class="row m-t-20 m-b-20 text-center">
                    <div class="col-xs-4 m-t-10 padding-10" ng-repeat="page in $ctrl.bots | filter:search">
                        <div class="padding-10" style="border: 1px dashed;">
                            <img ng-src="{{ page.avatar_url }}" alt="{{page.name}}" style="width: 65px">
                            <h5 class="font-montserrat">{{ page.name }}</h5>
                            <button class="btn btn-cons btn-success" ng-click="$ctrl.openEnableBotModal(page)">Enable</button>
                        </div>
                    </div>
                </div>
                <div class="row m-b-20" ng-if="!$ctrl.bots.length">
                    <div class="col-xs-12">
                        <div class="alert alert-info">You don't have any disabled bot!</div>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col-xs-12 text-center">
                        <a ui-sref="create-bot" class="btn btn-primary m-r-10">New Chat Bot</a>
                        <a ng-if="$ctrl.activeBots.length" ui-sref="choose-bot" class="btn btn-default m-r-10">Manage Existing Bots ({{$ctrl.activeBots.length | number }})</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</body>
