<body>
<div class="lock-container full-height">

    <flash-message>
        <div class="pgn-wrapper" data-position="top">
            <div class="pgn push-on-sidebar-open pgn-bar">
                <div class="alert {{flash.config.class}} text-center alert-{{flash.type}} p-b-25 p-t-25">
                    <span class="fs-16 text-center font-montserrat" dynamic="flash.text"></span>
                </div>
            </div>
        </div>
    </flash-message>

    <div class="container-sm-height full-height sm-p-t-50">
        <div class="row row-sm-height">
            <div class="col-sm-6 col-sm-height col-middle">
                <div class="inline">
                    <h5 class="logged hint-text no-margin">
                        Welcome to
                    </h5>
                    <h2 class="name no-margin">Mr. Reply</h2>
                </div>
            </div>


            <div class="col-sm-6 col-sm-height col-middle" ng-if="!$ctrl.isUnderMaintenance()">
                <!-- START Lock Screen Form -->
                <form id="form-lock" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <button ng-click="$ctrl.login()" class="btn btn-block btn-info" type="button">
                                <span class="pull-left"><i class="fa fa-facebook"></i></span>
                                <span class="bold">Login with Facebook</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p>In order to create bots and automate replies, we are going to need permissions to manage your page(s)' messaging.</p>
            </div>

            <div class="col-sm-6 col-sm-height col-middle" ng-if="$ctrl.isUnderMaintenance()">
                <h2>Under Maintenance!</h2>
            </div>


        </div>
    </div>
</div>
</body>