<body class="fixed-header" ng-class="{
'bg-master-lighter': is('app.extra.timeline'),
'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),
'menu-pin' : app.layout.menuPin,
'menu-behind' : app.layout.menuBehind
}">
<div class="full-height">


    <div id="timepicker-container"></div>

    <!-- BEGIN SIDEBAR -->
    <sidebar-view></sidebar-view>
    <!-- END SIDEBAR -->


    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
        <!-- START PAGE HEADER WRAPPER -->
        <header-view></header-view>
        <!-- END PAGE HEADER WRAPPER -->

        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <div class="full-height full-width">

                    <toaster-container style="top:50px" toaster-options="{'time-out': 4000, 'close-button': true}"></toaster-container>

                    <fieldset ng-disabled="$root.loading">
                        <ui-view></ui-view>
                    </fieldset>
                </div>
            </div>

            <!-- END PAGE CONTENT -->
            <div ng-include=" '/templates/dashboard/partials/footer.html'"></div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
</div>


<div id="TheModal"></div>