<div pg-form-group class="form-group m-b-0 form-group-default form-group-default-select">
    <label>
        {{ $ctrl.label || 'Message Trees' }}
        <span class="pull-right">
            <a ui-sref="app.dashboard.build.tree.create" target="_blank">New</a> |
            <a href="" ng-click="$ctrl.refresh()">Refresh</a>
        </span>
    </label>
    <ui-select ng-model="$ctrl.model" theme="bootstrap" style="width:100%">
        <ui-select-match placeholder="Select a message tree" class="ui-select-match">{{ $select.selected.name }}
        </ui-select-match>
        <ui-select-choices class="ui-select-choices" repeat="tree in $ctrl.trees | filter:$select.search">
            <div ng-bind-html="tree.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>