<div class="container-fluid container-fixed-lg padding-25 sm-padding-10 sm-gutter">
    <div class="row m-b-20">
        <div class="col-xs-12 text-right">
            <select class="cs-select cs-skin-slide" ng-model="$ctrl.graphDate" ng-change="$ctrl.refreshAll()" cs-select>
                <option value="last_seven_days">Last Seven Days</option>
                <option value="last_thirty_days">Last 30 Days</option>
                <option value="this_month">This Month</option>
                <option value="last_month">Last Month</option>
            </select>
            <button class="btn btn-info m-l-5" ng-click="$ctrl.refreshAll()">
                <i class="fa fa-refresh fa-fw"></i> Refresh All
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 m-b-10">
            <div ng-include="'/templates/dashboard/overview/quick-access.html'"></div>
        </div>

        <div class="col-md-8 m-b-10">
            <div ng-include="'/templates/dashboard/overview/subscription.html'"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-lg-12 col-xlg-12 m-b-10">
            <div ng-include="'/templates/dashboard/overview/metrics.html'"></div>
        </div>

    </div>

</div>