<div id="quick-access" class="widget-16 panel no-border no-margin widget-loader-circle" pg-portlet progress="circle"  on-refresh="$ctrl.refreshSection('#quick-access')">

    <div class="panel-heading">
        <div class="panel-title">Quick Access</div>
        <div class="panel-controls">
            <ul>
                <li>
                    <a ng-click="$ctrl.refreshOthers('#quick-access')" class="portlet-refresh text-black" data-toggle="refresh">
                        <i class="fa fa-refresh"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="widget-16-header padding-20">
        <div class="pull-left">
            <p class="hint-text all-caps font-montserrat  small no-margin overflow-ellipsis ">Page name</p>
            <h4 class="no-margin overflow-ellipsis">
                <a ng-href="{{ $root.page.url }}" target="_blank">{{ $root.page.name }}</a>
            </h4>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="p-l-20 p-r-20 p-b-45">

        <div class="row">
            <div class="col-xs-12">
                <h5 class="text-center m-b-20">Subscriptions</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="hint-text all-caps font-montserrat small no-margin ">Total</p>
                <p class="all-caps font-montserrat no-margin text-info">{{ $ctrl.data.summary.total | number }}</p>
            </div>
            <div class="col-md-8 text-right">
                <p class="hint-text all-caps font-montserrat small no-margin ">Today</p>
                <p class="all-caps font-montserrat no-margin">
                    <span class="text-success">+{{ $ctrl.data.summary.today.plus | number }}</span>
                    &nbsp;/&nbsp;
                    <span class="text-danger">-{{ $ctrl.data.summary.today.negative | number }}</span>
                </p>
            </div>
        </div>
    </div>


    <div class="b-b b-t b-grey p-l-20 p-r-15 p-b-10 p-t-10">
        <p class="pull-left">Broadcast message</p>
        <div class="pull-right">
            <a ui-sref="dashboard.broadcast.list" class="btn btn-rounded btn-xs">
                Manage Broadcasts
            </a>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="b-b b-grey p-l-20 p-r-15 p-b-10 p-t-10">
        <p class="pull-left">Manage Subscribers</p>
        <div class="pull-right">
            <a ui-sref="dashboard.subscriber.list" class="btn btn-rounded btn-xs">
                Manage Audience
            </a>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="b-b b-grey p-l-20 p-r-15 p-b-10 p-t-10">
        <p class="pull-left">Manage Sequences</p>
        <div class="pull-right">
            <a ui-sref="dashboard.sequence.list" class="btn btn-rounded btn-xs">
                Manage Sequences
            </a>
        </div>
        <div class="clearfix"></div>
    </div>


</div>