<div class="panel panel-transparent">

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group form-group-default ">
                    <label>Message Name</label>
                    <input ng-model="$ctrl.message.name" type="text" class="form-control m-t-15 input-lg" placeholder="Enter message name" style="margin-top: 5px;">
                </div>
                <div class="form-group form-group-default p-t-15 p-b-15">
                    <label class="inline p-r-20 fs-14">Status: </label>
                    <input type="checkbox" class="js-switch" ui-switch="{color: '#10cfbd', size: 'small'}"
                           ng-model="$ctrl.message.live"/>
                    <p class="inline p-l-20 fs-14 m-b-0 m-t-5">
                        Sequence is
                        <span class="semi-bold label" ng-if="!$ctrl.message.live">Draft</span>
                        <span class="semi-bold label label-success" ng-if="$ctrl.message.live">Live</span>
                    </p>
                </div>
            </div>

            <div class="col-xs-6 text-right">
                <button type="button" class="m-r-5 btn btn-success" ng-click="$ctrl.save()">Save</button>
                <button ng-if="$ctrl.message.id" type="button" class="btn btn-danger" ng-click="$ctrl.openDeleteMessageModal()">Delete</button>
                <a ng-if="!$ctrl.message.id" ui-sref="app.dashboard.sequence.edit({sequenceId: $ctrl.sequence.id})" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
        </div>

        <div class="row">
            <div class="col-xs-9">
                <message-template template="$ctrl.message.template" page="$root.bot.page" preview="true"></message-template>
            </div>
        </div>
    </div>

</div>
