<div class="modal fade slide-right">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fs-14"></i></button>
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="modal-body col-xs-height col-middle text-center">
                            <h5>
                                Once you delete a sequence, all of its messages and data <span class="semi-bold">will be lost.</span><br /><br />
                                If you want to temporarily disable it, you can mark its messages as draft instead.<br /><br />
                                <span class="semi-bold">Are you sure you still want to delete this sequence?</span><br /><br />
                            </h5>
                            <br>
                            <button type="button" class="btn btn-danger btn-block" ng-click="delete()">Delete</button>
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
