<div class="modal disable-scroll">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">Changes don't apply to currently queued subscribers.</div>
                                <div class="form-group form-group-default p-t-15 p-b-15">
                                    <p class="inline p-r-5 fs-14">Wait for</p>
                                    <input ng-model="message.days" type="number" min="0" class="inline form-control" placeholder="1" style="max-width: 50px;padding-left: 5px" required />
                                    <p class="inline p-l-0 fs-14 m-b-0 m-t-5">days after
                                        <span class="bold" ng-if="isFirstMessage">Subscription</span>
                                        <span class="bold" ng-if="!isFirstMessage">Previous Message</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-success btn-cons inline" ng-click="save()">Save</button>
                    <button type="button" class="btn btn-default btn-cons no-margin inline" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
