.line-through{
    text-decoration: line-through;
}
.filter_rule_item_wrapper {
    padding-right: 85px !important;
    margin-bottom: 1rem !important;
}

.filter_rule_item_wrapper:after {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
    display: block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #8492a6;
    font-size: 14px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.filter_rule_or:after {
    content: 'OR';
}

.filter_rule_none:after {
    content: 'OR';
}

.filter_rule_and:after {
    content: 'AND';
}

.filter_rule_item {
    border: 1px solid #eee;
    padding: 2px;
    min-height: 50px;
    border-radius: 5px;
}

.filter_rule_preview {
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.filter_new_rule_item_wrapper {
    margin-bottom: 1rem !important;
}

.filter_new_rule_item_wrapper:after {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
    display: block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #8492a6;
    font-size: 14px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.filter_new_rule_item {
    border: 1px dashed #837f7f;
    padding: 2px;
    min-height: 50px;
    border-radius: 5px;
}

.filter_new_rule_item {
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.filter_new_rule_preview {

}

.filter-group + .filter-group:after {
    position: absolute;
    top: -35px;
    left: -40px;
    width: 40px;
    text-align: center;
    background: #6462e6;
    color: #ffffff;
    display: inline-block;
    padding: 5px;
}

.filter-group + .filter-group:before {
    position: absolute;
    top: -60px;
    left: -20px;
    width: 20px;
    height: 80px;
    content: "";
    border: 1px solid #e0e6ed;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 80px
}

.filter_group_and.filter-group + .filter-group:after {
    content: "And"
}

.filter_group_or.filter-group + .filter-group:after {
    content: "Or"
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-empty {
    border: none !important;
    background: none;
    height: 0 !important;
    min-height: 0 !important;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container > div {
    opacity: 0.85 !important;
}

.tree-node {
    height: 49px;
}

.tree-actions {
    position: absolute;
    height: 48px;
    line-height: 48px;
    right: 20px;
    top: 0;
    display: none;
}

.tree-node:hover > .tree-actions {
    display: block;
}

.header .brand {
    vertical-align: middle;
    width: auto !important;
    text-align: right;
    margin-left: 100px;
}


#gt_preview_outer {
    height: 335px;
    width: 260px;
    margin: 0 auto;
}

#gt_preview_inner {
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px 0;
    border-radius: 3px 3px 0 0;
    height: 100%;
}

#gt_preview_header {
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
    background: rgb(246, 247, 249) none repeat scroll 0 0 / auto padding-box border-box;
    padding-left: 7px;
    padding-right: 7px;
}

#gt_preview_header > h4 {
    color: #4b4f56;
    font: normal normal bold normal 12px / 26px Helvetica, Arial, sans-serif !important;
}

#gt_preview_header > h4 > a {
    color: #4b4f56;
}

#gt_preview_header > h4 .fa-close {
    color: #4b4f56;
    cursor: pointer;
}

#gt_preview_header > h4 .fa-close:hover {
    color: rgb(29, 33, 41);
}

#gt_preview_greeting_text {
    color: rgb(144, 148, 156);
    text-align: center;
    height: 222px;
    padding: 12px 12px 48px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
}

#gt_preview_body_header {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0 0;
    width: 100%
}

#gt_preview_avatar_container {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 7px;
}

#gt_preview_avatar {
    border: 1px solid rgba(0, 0, 0, .10);
    border-radius: 5px;
    margin-left: 4px;
    margin-top: 1px;
}

#gt_preview_page_summary {
    padding: 3px 9px 0 0;
}

#gt_preview_likes {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 3px;
    font-family: Helvetica, Arial, sans-serif;
}

#gt_preview_page_type {
    color: #90949c;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 3px;
    font-family: Helvetica, Arial, sans-serif;
}

#gt_preview_get_started {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

#mm_preview_outer {
    color: rgb(29, 33, 41);
    width: 280px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}

#mm_preview_list {
    padding: 0;
}

#mm_preview_list > li {
    border: 0 none rgb(29, 33, 41);
    border-top: 1px solid rgb(215, 219, 222);
    font: normal normal normal normal 14px / 16px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    padding: 10px 16px;
}
#mm_preview_list > li >a {
    color: #0084ff;
}

#mm_preview_list > li:first-child {
    font-weight: bold;
}

#mm_preview_arrow {
    background-size: auto;
    background: url(https://www.facebook.com/rsrc.php/v3/yC/r/XgnMmwHPaSX.png) no-repeat -236px -196px;
    height: 8px;
    width: 16px;
    position: absolute;
    margin-left: 12px;
    bottom: 2px;
}
