body.menu-pin .page-sidebar {
    background-color: #3b3a48;
}

body.menu-pin .page-sidebar .sidebar-header {
    background-color: #353441;
    border: 0;
}

body.menu-pin .page-sidebar .icon-thumbnail {
    background-color: transparent !important;
}

body.menu-pin .page-sidebar li > a, body.menu-pin .page-sidebar li > button {
    font-family: 'Montserrat', sans-serif !important;
    color: #fff;
    opacity: .3;
}

body.menu-pin .page-sidebar li.active > a,
body.menu-pin .page-sidebar li.active > button,
body.menu-pin .page-sidebar li:hover > a,
body.menu-pin .page-sidebar li:hover > button {
    opacity: 1;
}

body.menu-pin.fixed-header .header:not(th) {
    padding-left: 170px;
}

/*.page-container .page-content-wrapper .content {*/
/*padding-bottom: 0;*/
/*}*/

/*.page-container .page-content-wrapper .footer {*/
/*position: relative;*/
/*}*/

.line-through {
    text-decoration: line-through;
}

.filter_rule_item_wrapper {
    padding-right: 85px !important;
    margin-bottom: 1rem !important;
}

.filter_rule_item_wrapper:after {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
    display: block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #8492a6;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.filter_rule_or:after {
    content: 'OR';
}

.filter_rule_none:after {
    content: 'OR';
}

.filter_rule_and:after {
    content: 'AND';
}

.filter_rule_item {
    border: 1px solid #eee;
    padding: 2px;
    min-height: 50px;
    border-radius: 5px;
}

.filter_rule_preview {
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.filter_new_rule_item_wrapper {
    margin-bottom: 1rem !important;
}

.filter_new_rule_item_wrapper:after {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
    display: block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #8492a6;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.filter_new_rule_item {
    border: 1px dashed #837f7f;
    padding: 2px;
    min-height: 50px;
    border-radius: 5px;
}

.filter_new_rule_item {
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.filter_new_rule_preview {

}

.filter-group + .filter-group:after {
    position: absolute;
    top: -35px;
    left: -40px;
    width: 40px;
    text-align: center;
    background: #6462e6;
    color: #ffffff;
    display: inline-block;
    padding: 5px;
}

.filter-group + .filter-group:before {
    position: absolute;
    top: -60px;
    left: -20px;
    width: 20px;
    height: 80px;
    content: "";
    border: 1px solid #e0e6ed;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 80px
}

.filter_group_and.filter-group + .filter-group:after {
    content: "And"
}

.filter_group_or.filter-group + .filter-group:after {
    content: "Or"
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-empty {
    border: none !important;
    background: none;
    height: 0 !important;
    min-height: 0 !important;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container > div {
    opacity: 0.85 !important;
}

.tree-node {
    height: 49px;
}

.tree-actions {
    position: absolute;
    height: 48px;
    line-height: 48px;
    right: 20px;
    top: 0;
    display: none;
}

.tree-node:hover > .tree-actions {
    display: block;
}

.header .brand {
    vertical-align: middle;
    width: auto !important;
    text-align: right;
    margin-left: 100px;
}

#gt_preview_outer {
    height: 335px;
    width: 260px;
    margin: 0 auto;
}

#gt_preview_inner {
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px 0;
    border-radius: 3px 3px 0 0;
    height: 100%;
}

#gt_preview_header {
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
    background: rgb(246, 247, 249) none repeat scroll 0 0 / auto padding-box border-box;
    padding-left: 7px;
    padding-right: 7px;
}

#gt_preview_header > h4 {
    color: #4b4f56;
    font: normal normal bold normal 12px / 26px Helvetica, Arial, sans-serif !important;
}

#gt_preview_header > h4 > a {
    color: #4b4f56;
}

#gt_preview_header > h4 .fa-close {
    color: #4b4f56;
    cursor: pointer;
}

#gt_preview_header > h4 .fa-close:hover {
    color: rgb(29, 33, 41);
}

#gt_preview_greeting_text {
    color: rgb(144, 148, 156);
    text-align: center;
    height: 222px;
    padding: 12px 12px 48px;
    display: table-cell;
    vertical-align: middle;
    /*noinspection CssInvalidPropertyValue*/
    word-break: break-word;
    word-wrap: break-word;
}

#gt_preview_body_header {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0 0;
    width: 100%
}

#gt_preview_avatar_container {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 7px;
}

#gt_preview_avatar {
    border: 1px solid rgba(0, 0, 0, .10);
    border-radius: 5px;
    margin-left: 4px;
    margin-top: 1px;
}

#gt_preview_page_summary {
    padding: 3px 9px 0 0;
}

#gt_preview_likes {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 3px;
    font-family: Helvetica, Arial, sans-serif;
}

#gt_preview_page_type {
    color: #90949c;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 3px;
    font-family: Helvetica, Arial, sans-serif;
}

#gt_preview_get_started {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

#mm_preview_outer {
    color: rgb(29, 33, 41);
    width: 280px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}

#mm_preview_list {
    padding: 0;
}

#mm_preview_list > li {
    border: 0 none rgb(29, 33, 41);
    border-top: 1px solid rgb(215, 219, 222);
    font: normal normal normal normal 14px / 16px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    padding: 10px 16px;
}

#mm_preview_list > li > a {
    color: #0084ff;
}

#mm_preview_list > li:first-child {
    font-weight: bold;
}

#mm_preview_arrow {
    background-size: auto;
    background: url(https://www.facebook.com/rsrc.php/v3/yC/r/XgnMmwHPaSX.png) no-repeat -236px -196px;
    height: 8px;
    width: 16px;
    position: absolute;
    margin-left: 12px;
    bottom: 2px;
}

.opacity-3 {
    opacity: 0.3;
}

.line {
    padding: 0;
    margin: 0;
    width: 100%;
    border-top: 1px solid #eeeeee;
}

.breadcrumb a.no-hover:hover {
    color: inherit;
}

.container-fluid.master-details {
    padding-left: 0;
    font-family: 'Montserrat', sans-serif !important;
}

.master-details .light-grey {
    color: #cfcfcf;
}

.master-details .back-arrow {
    opacity: .84;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20px;
    cursor: pointer;
}

.master-details .down-arrow {
    width: 18px;
    margin-right: 10px;
}

.master-details .image-message {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px !important;
}

.master-details .image-message.m-b-10 {
    margin-bottom: 10px;
}

.master-details .image-message.m-b-20 {
    margin-bottom: 20px;
}

.master-details .image-message img {
    max-width: 100%;
    border-radius: 20px;
}

.master-details h1,
.master-details h2,
.master-details h3,
.master-details h4,
.master-details h5,
.master-details h6 {
    font-family: 'Montserrat', sans-serif;
}

.master-details .master {
    width: 420px;
    position: fixed;
    padding-top: 60px; /* For Header */
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #31303d;
    height: 100%;
    -webkit-box-shadow: inset 50px 0 70px 0 rgba(1, 1, 1, 0.2);
    -moz-box-shadow: inset 50px 0 70px 0 rgba(1, 1, 1, 0.2);
    box-shadow: inset 50px 0 70px 0 rgba(1, 1, 1, 0.2);
}

.master-details .master h1,
.master-details .master h2,
.master-details .master h3,
.master-details .master h4,
.master-details .master h5,
.master-details .master h6 {
    color: #fff;
}

.master-details .master .message {
    opacity: 0.8;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    padding: 20px;
}

.master-details .master .message.active,
.master-details .master .message:hover {
    background-color: #3b3a47;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0 15px 50px 0 rgba(1, 1, 1, 0.2);
    -moz-box-shadow: 0 15px 50px 0 rgba(1, 1, 1, 0.2);
    box-shadow: 0 15px 50px 0 rgba(1, 1, 1, 0.2);
}

.master-details .master .message.active {
    opacity: 1;
}

.master-details .master .message p {
    font-weight: 100;
    font-size: 10px;
    color: #fff;
}

.master-details .master .message p .blue {
    color: #9a98eb;
}

.master-details .master .message-line {
    margin: 20px 0;
    opacity: 0.3;
}

.master-details .master .message-button {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    padding: 7px;
    margin-left: 5px;
    color: #fff;
    min-width: 85px;
    background-color: #5552eb;
}

.master-details .master .menu-button {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding: 14px;
    color: #fff;
    min-width: 100px;
    background-color: #5552eb;
}

.master-details .master ul.card-container-message {
    padding-left: 0;
}

.master-details .master ul.card-container-message > li {
    display: none;
}

.master-details .master ul.card-container-message > li.active {
    display: block;
}

.master-details .master ul.card-container-message > li .card-title {
}

.master-details .master ul.card-container-message > li .card-subtitle {
    opacity: .6;
}

.master-details .master ul.card-container-message > li .card-url {
    color: #9a98eb !important;
}

.master-details .master .message > .slider {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.master-details .master .message > .slider > span {
    border-radius: 20px;
    background-color: rgba(68, 67, 82, 0.74);
    padding: 0 15px;
    width: 100px;
    display: inline-block;;
}

.master-details .master .message > .slider > span.right {
    margin-left: 15px;
}

.master-details .master .message > .slider > span:hover {
    background-color: rgb(69, 67, 82);
}

.master-details .master .message > .slider > span.disabled {
    opacity: 0.3;
}

.master-details .master .message > .slider > span > img {
    padding: 5px 0;
    height: 24px;
}

.master-details ::-webkit-scrollbar {
    background-color: #34333f;
    width: 6px;
}

.master-details ::-webkit-scrollbar-thumb {
    background: #605f74;
}

.master-details ::-webkit-scrollbar-thumb:window-inactive {
    background: #605f74;
}

.master-details .details {
    margin-left: 450px;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 10px rgba(13, 14, 14, 0.07);
    -moz-box-shadow: 0 0 30px 10px rgba(13, 14, 14, 0.07);
    box-shadow: 0 0 30px 10px rgba(13, 14, 14, 0.07);
}

.master-details .details .broadcast-date,
.master-details .details .message-date {
    color: #5552eb;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.master-details .details .message-date {
    margin-bottom: 20px;
}

.master-details .alert.alert-danger {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 10px;
    color: #605f74;
    background-color: rgba(209, 0, 93, 0.15);
}

.master-details .stats {
    margin-bottom: 20px;
}

.master-details .stats h1,
.master-details .stats h3,
.master-details .stats h5 {
    margin: 0;
    padding: 0;
    color: #5552eb;
}

.master-details .stats h1 {
    font-size: 60px
}

.master-details .stats h3 {
    font-size: 17px;
    margin-top: 10px;
}

.master-details .stats h5 {
    font-size: 15px;
    margin-top: -7px;
}

.positive {
    color: #66bd2b !important;
}

.negative {
    color: #d1005d !important;
}

.zero {
    opacity: .3;
    color: #000 !important;
}

.na {
    color: #000 !important;
    opacity: 0.3;
    /*color: #d1005d !important;*/
}

.master-details .details .message p {
    width: 90%;
}

.master-details .details .message p {
    font-size: 15px !important;
    color: #909090;
}

.master-details .details .message p .blue {
    color: #5552eb;
}

.master-details .details .btn-stats {
    border-left: 6px solid #fff;
    margin-top: 20px;
    background-color: #f0f0f0;
}

.master-details .details .btn-stats .btn-header {
    width: 100%;
    color: #fff;
    text-align: left;
    padding: 10px 0 10px 10px;
    background-color: #5552eb;
    cursor: pointer;
}

.master-details .details .btn-stats .btn-header:hover {
    background-color: rgb(65, 62, 217);
}

.master-details .details .btn-stats .btn-header > img {
    width: 14px;
    float: right;
    padding-top: 3px;
    margin-right: 10px;
}

.master-details .details h4,
.master-details .details h5 {
    color: #5552eb;
}

.master-details .details .btn-stats .btn-body h5.count {
    font-size: 25px;
    margin: 0;
}

.master-details .details .btn-stats .btn-body h5.desc {
    font-size: 10px;
    margin: -7px 0 0;
}

.master-details .details .card-title {
    margin-bottom: 2px;
}

.master-details .details .card-subtitle {
    opacity: .6;
    margin-bottom: 6px;
}

.master-details .details .card-url {
    color: #9a98eb !important;
}

.master-details .details .card-url-stats {
    margin-top: 20px;
    position: relative;
    background: #e2e2e2;
}

.master-details .details .card-url-stats h5 {
    line-height: 32px;
}

.master-details .details .card-url-stats:after {
    bottom: 100%;
    left: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 15px solid rgba(240, 240, 240, 0);
    border-bottom-color: #e2e2e2;
}

#button-details-modal .modal-title {
    text-align: left;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    color: #5552eb;
}

#button-details-modal.modal hr {
    margin-left: 0;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(172, 172, 172, 0.78) !important;
}

#button-details-modal .modal-body {
    font-family: 'Montserrat', sans-serif;
}

#button-details-modal .modal-body p {
    margin-bottom: 0;
    color: #5552eb;
}

#button-details-modal .modal-body p small {
    text-transform: uppercase;
    color: #86868e
}

#button-details-modal .modal-body p .add-tag {
    background-color: #5552eb;
    padding: 5px 15px;
    margin-top: 10px !important;
    border-radius: 20px;
    color: #fff;
}

#button-details-modal .space {
    padding: 10px;
}

#button-details-modal .modal-body p .remove-tag {
    background-color: #aeaeae;
    padding: 5px 15px;
    margin-top: 10px !important;
    border-radius: 20px;
    color: #fff;
}

#button-details-modal .close_modal {
    color: #fff;
    background-color: #5552eb !important;
}

#button-details-modal .close_modal:hover {
    color: #fff;
}

#button-details-modal .btn_header:hover {
    cursor: pointer;
    background-color: rgb(65, 62, 217);
}

.master-details .master .message_type {
    text-transform: uppercase;
    margin-bottom: 0;
    color: #c2c2c2 !important;
    opacity: .5;
}

.master-details .master .message_date {
    margin-bottom: 0;
    color: #c2c2c2 !important;
    opacity: .5;
}

.stats-btn {
    background-color: #c7cbd6;
    color: blue;
    border: none;
}

.stats-btn > img {
    width: 24px;
    padding-bottom: 6px;
}

.stats-btn:hover {
    color: blue;
    background-color: #c7cbd6;
    border: none;
}

.stats-btn:focus {
    color: blue;
    background-color: #c7cbd6;
    border: none;
}

.main-menu-button {
    width: 70%;
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

#subscriber-list td:not(:first-child) {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#subscriber-list .ng-cloak{
    display: block !important;
}
