<div class="panel" id="subscriber-list">
    <div class="panel-body">
        <div class="row m-b-10">
            <div class="col-xs-6">
                <h3>Total: {{ $ctrl.tableParams.total() | number }}</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right text-right">
                    <p> ({{ $ctrl.selected.length | number }} Selected)</p>
                    <button class="btn btn-primary" ng-disabled="!$ctrl.selected.length" ng-click="$ctrl.openBulkEditModal()">
                        Bulk Edit
                    </button>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="alert alert-info">You can click on any subscriber's row for more information.</div>

            <table ng-table-dynamic="$ctrl.tableParams with $ctrl.colList" class="table table-hover table-bordered">

                <tr ng-repeat="subscriber in $data" ng-class="{'danger': !subscriber[$ctrl.cols.active.field]}">

                    <!--Don't remove the ng-if="true" or bad things would happen-->
                    <td ng-if="true">
                        <input type="checkbox" ng-checked="$ctrl.isSelected(subscriber)" ng-click="$ctrl.toggleSelection(subscriber)"/>
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.avatar_url.show">
                        <a ng-href="{{ subscriber[$ctrl.cols.avatar_url.field] }}" target="_blank">
                            <img ng-src="{{ subscriber[$ctrl.cols.avatar_url.field] }}" style="width: 32px"/>
                        </a>
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.first_name.show">
                        {{ subscriber[$ctrl.cols.first_name.field] }}
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.last_name.show">
                        {{ subscriber[$ctrl.cols.last_name.field] }}
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.gender.show">
                        {{ subscriber[$ctrl.cols.gender.field] | capitalize }}
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.active.show">
                        <span ng-if="subscriber[$ctrl.cols.active.field]" class="text-success">Active</span>
                        <span ng-if="!subscriber[$ctrl.cols.active.field]" class="text-danger">Inactive</span>
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.created_at.show">
                        <abbr ng-if="subscriber[$ctrl.cols.created_at.field]" data-original-title="{{ subscriber[$ctrl.cols.created_at.field] | date:'EEE, MMM d, y — h:mm a (UTCZ)' }}" pg-tooltip>
                            {{ subscriber[$ctrl.cols.created_at.field] | relativeDate }}
                        </abbr>
                        <span ng-if="!subscriber[$ctrl.cols.created_at.field]">Never</span>

                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.last_interaction_at.show">
                        <abbr ng-if="subscriber[$ctrl.cols.last_interaction_at.field]" data-original-title="{{ subscriber[$ctrl.cols.last_interaction_at.field] | date:'EEE, MMM d, y — h:mm a (UTCZ)'}}" pg-tooltip>
                            {{ subscriber[$ctrl.cols.last_interaction_at.field] | relativeDate }}
                        </abbr>
                        <span ng-if="!subscriber[$ctrl.cols.last_interaction_at.field]">Never</span>
                    </td>

                    <td ng-click="$ctrl.showSubscriber(subscriber)" ng-if="$ctrl.cols.tags.show" style="max-width: 220px">
                        <span ng-repeat="tag in subscriber[$ctrl.cols.tags.field]">
                            <span class="label label-info m-t-5" style="display: inline-block">{{ tag }}</span><span ng-if="!$last">&nbsp;</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>