<div class="row m-t-10">
    <div class="col-xs-12">
        <div ng-if="!$ctrl.messageBlock.is_disabled">
            <button class="btn btn-primary btn-block" ng-click="$ctrl.openButtonModal()" bs-tooltip data-original-title="Edit this button" id="button_{{ $ctrl.messageBlock.$$hashKey | normalizedHashKey}}">
                {{ $ctrl.messageBlock.title }}
            </button>
        </div>

        <div ng-if="$ctrl.messageBlock.is_disabled">
            <button id="button_{{ $ctrl.messageBlock.$$hashKey | normalizedHashKey}}" class="btn btn-primary btn-block" data-html="true" data-placement="bottom" data-title="Upgrade to PRO" data-content="<p>You can remove this copyright by upgrading your account to PRO Plan.</p>" bs-popover>
                {{ $ctrl.messageBlock.title }}
            </button>
        </div>
    </div>
</div>