<div class="panel panel-default" pg-portlet>
    <div class="panel-body">
        <div id="carousel_{{ $ctrl.messageBlock.$$hashKey | normalizedHashKey }}" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false" data-keyboard="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">


                <div ng-repeat="card in $ctrl.messageBlock.message_blocks" class="item" ng-class="{'active': $ctrl.messageBlock.message_blocks.length && $first}">
                    <card-block allow-send-trees="true" context="$ctrl.messageBlock" message-block="card"></card-block>
                </div>

                <div class="item" ng-class="{'active': !$ctrl.messageBlock.message_blocks.length}" style="min-height: 400px;">
                    <button ng-disabled="$ctrl.messageBlock.message_blocks.length >= $ctrl.MAX_CARD_COUNT" data-target="#carousel_{{ $ctrl.messageBlock.$$hashKey | normalizedHashKey }}" class="btn btn-default btn-block" ng-click="$ctrl.addCard();">+ Add Card</button>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="" data-target="#carousel_{{ $ctrl.messageBlock.$$hashKey | normalizedHashKey }}" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
            <a class="right carousel-control" href="" data-target="#carousel_{{ $ctrl.messageBlock.$$hashKey | normalizedHashKey }}" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </div>
    </div>
</div>
