
<div class="row">
    <div class="col-xs-12 m-b-10">
        <div class="text-center">
            <a ng-if="!$ctrl.isLast() && !$ctrl.messageBlock.is_disabled" href="" class="btn btn-info btn-xs" bs-tooltip ng-click="$ctrl.moveRight()">
                Move Right <i class="fa fa-arrow-right"></i>
            </a>
            <a ng-if="!$ctrl.isFirst() && !$ctrl.messageBlock.is_disabled" href="" class="btn btn-info btn-xs" ng-click="$ctrl.moveLeft()">
                Move Left <i class="fa fa-arrow-left"></i>
            </a>
            <a ng-if="!$ctrl.messageBlock.is_disabled" href="" class="btn btn-danger btn-xs" ng-click="$ctrl.remove()">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <form role="form">
            <!-- Image Preview Block -->
            <div class="form-group-default">
                <div class="form-group" pg-form-group>
                    <label>Card Image</label>
                    <image-uploader message-block="$ctrl.messageBlock"></image-uploader>
                </div>
            </div>
            <!-- Image Preview Block -->

            <!-- Title Block -->
            <div class="form-group-default">
                <div class="form-group" pg-form-group>
                    <label>Card Title</label>
                    <input type="text" class="form-control" ng-model="$ctrl.messageBlock.title" maxlength="{{ $ctrl.MAX_TITLE_LENGTH }}" placeholder="Enter your card title">
                </div>
                <h6 class="pull-right">{{$ctrl.MAX_TITLE_LENGTH - $ctrl.messageBlock.title.length}} characters remaining</h6>
            </div>
            <!-- Title Block -->

            <!-- Subtitle Block -->
            <div class="form-group-default">
                <div class="form-group" pg-form-group>
                    <label>Card Subtitle</label>
                    <input type="text" class="form-control" ng-model="$ctrl.messageBlock.subtitle" maxlength="{{ $ctrl.MAX_SUBTITLE_LENGTH }}" placeholder="(Optional) Enter your card subtitle">
                </div>
                <h6 class="pull-right">{{$ctrl.MAX_SUBTITLE_LENGTH - $ctrl.messageBlock.subtitle.length}} characters remaining</h6>
            </div>
            <!-- Subtitle Block -->

            <!-- Subtitle Block -->
            <div class="form-group-default">
                <div class="form-group" pg-form-group>
                    <label>Card URL</label>
                    <input type="text" class="form-control" ng-model="$ctrl.messageBlock.url" placeholder="(Optional) Enter your card URL">
                </div>
            </div>
            <!-- Subtitle Block -->

            <!-- Buttons Block -->
            <div ng-repeat="button in $ctrl.messageBlock.message_blocks">
                <button-block allow-send-trees="$ctrl.allowSendTrees" context="$ctrl.messageBlock" message-block="button"></button-block>
            </div>
            <!-- Buttons Block -->

            <!-- add new button -->
            <div class="row m-t-10">
                <button ng-disabled="$ctrl.messageBlock.message_blocks.length >= $ctrl.MAX_BUTTON_COUNT" class="btn btn-default btn-block" ng-click="$ctrl.addButton()">+ Add Button</button>
            </div>
            <!-- add new button -->
        </form>
    </div>
</div>


