<div class="modal fade slide-up">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fs-14"></i></button>
                    <h5>Preview</h5>
                </div>
                <div class="modal-body" id="preview-button-container">
                    <div class="fb-send-to-messenger" messenger_app_id="{{ APP_ID }}" page_id="{{ pageId }}" data-ref="SUBSCRIBE_OWNER_{{ userId }}" color="blue" size="xlarge"></div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


