<div class="modal fade stick-up disable-scroll" id="modalDelSequence" tabindex="-1" role="dialog"
     aria-labelledby="modalDelSequence" aria-hidden="false">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content-wrapper">

            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-close fs-14"></i>
                    </button>
                    <h5>Delete Sequence</h5>
                </div>
                <div class="modal-body">
                    <p class="no-margin">Are you sure to <span class="bold text-danger">delete</span> this Sequence?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-cons  pull-left inline" data-dismiss="modal">
                        Delete
                    </button>
                    <button type="button" class="btn btn-default btn-cons no-margin pull-left inline"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
</div>
