<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
            <li ng-class="{'active': $ctrl.getCurrentStep() == 1 }">
                <a data-toggle="tab" ng-click="$ctrl.goToStep(0)"><i class="fa fa-plus tab-icon"></i> <span>Broadcast Details</span></a>
            </li>
            <li ng-class="{'active': $ctrl.getCurrentStep() == 2 }">
                <a data-toggle="tab" ng-click="$ctrl.goToStep(1)"><i class="fa fa-comments-o tab-icon"></i> <span>Broadcast Message</span></a>
            </li>
            <li ng-class="{'active': $ctrl.getCurrentStep() == 3 }">
                <a data-toggle="tab" ng-click="$ctrl.goToStep(2)"><i class="fa fa-filter tab-icon"></i> <span>Filter Audience</span></a>
            </li>
            <li ng-class="{'active': $ctrl.getCurrentStep() == 4 }">
                <a data-toggle="tab" ng-click="$ctrl.goToStep(3)"><i class="fa fa-clock-o tab-icon"></i> <span>Schedule Broadcast</span></a>
            </li>

        </ul>


        <wizard on-finish="$ctrl.save()" class="bg-white" hide-indicators="true">

            <wz-step title="Broadcast Details">

                <div class="row-fluid row-sm-height">

                    <div class="col-md-3 col-sm-height col-middle">
                        <div class="row sm-b-b">
                            <div class="padding-30 m-t-30">
                                <h2>Broadcast Message Name</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-height col-middle b-l b-dashed b-grey">
                        <div class="padding-30 m-t-30">
                            <form role="form">
                                <div class="form-group form-group-default ">
                                    <label>Broadcast Name</label>
                                    <input ng-model="$ctrl.broadcast.name" type="text" class="form-control input-lg">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Next/prev Buttons -->
                <div class="padding-20 bg-white">
                    <ul class="pager wizard">
                        <li class="next">
                            <button type="button"
                                    class="btn btn-primary btn-cons btn-animated from-left fa fa-chevron-right pull-right"
                                    wz-next>
                                <span>Next</span>
                            </button>
                        </li>

                    </ul>
                </div>
            </wz-step>

            <wz-step title="Broadcast Message">

                <div class="row-fluid row-same-height b-b b-grey p-t-0 p-r-30 p-l-10">

                    <div class="col-md-3">
                        <div class="row sm-b-b">
                            <div class="padding-30 m-t-20">
                                <i class="fa fa-comments-o fa-3x hint-text"></i>
                                <h2>Create your message</h2>
                                <p>Here you can send a message to your subscribers. Use the + Add buttons to add text,
                                    images or cards to the message. You can also attach buttons to individual messages
                                    to create interactivity.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 b-l b-dashed b-grey ">
                        <div class="sm-padding-0 m-l-30 m-t-50">
                            <message-template template="$ctrl.bot.default_reply.template" page="$ctrl.bot.page"
                                              preview="true">
                            </message-template>
                        </div>
                    </div>
                </div>

                <!-- Next/prev Buttons -->
                <div class="padding-20 bg-white">
                    <ul class="pager wizard">
                        <li class="next">
                            <button type="button"
                                    class="btn btn-primary btn-cons btn-animated from-left fa fa-chevron-right pull-right"
                                    wz-next>
                                <span>Next</span>
                            </button>
                        </li>
                        <li class="previous">
                            <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                <span>Previous</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </wz-step>

            <wz-step title="Filter Audience">

                <div class="row-fluid row-same-height b-b b-grey p-t-0 p-r-30 p-l-30">

                    <div class="col-md-3">
                        <div class="row">
                            <div class="padding-30 m-t-10">
                                <i class="fa fa-filter fa-3x hint-text"></i>
                                <h2>Filter your Audience</h2>
                                <p>You can target your broadcast to any desired segment of your audience.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 sm-b-t b-l b-dashed b-grey">
                        <div class="p-l-80 p-r-80 sm-padding-0 m-t-50">
                            <pre>{{ $ctrl.broadcast | json }}</pre>
                            <filter-audience model="$ctrl.broadcast.filter" enable-control="false">
                            </filter-audience>
                        </div>
                    </div>
                </div>

                <!-- Next/prev Buttons -->
                <div class="padding-20 bg-white">
                    <ul class="pager wizard">
                        <li class="next">
                            <button type="button"
                                    class="btn btn-primary btn-cons btn-animated from-left fa fa-chevron-right pull-right"
                                    wz-next>
                                <span>Next</span>
                            </button>
                        </li>
                        <li class="previous">
                            <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                <span>Previous</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </wz-step>

            <wz-step title="Schedule Broadcast">

                <div class="row-fluid row-same-height b-b b-grey p-t-0 p-r-30 p-l-30">

                    <div class="col-md-3">
                        <div class="row m-b-b">
                            <div class="padding-30 m-t-30">
                                <i class="fa fa-clock-o fa-3x hint-text"></i>
                                <h2>Schedule Broadcast</h2>
                                <p>Schedule your broadcast message to be sent in the right time for your audience.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 b-l sm-b-t b-dashed b-grey">
                        <div class="padding-30 sm-padding-0 m-t-30 m-l-30">

                            <form role="form">


                                <p class="m-b-5 m-t-5 hint-text alert alert-info">Date & Time are in your current bot's
                                    timezone: {{ $root.page.bot_timezone_string }}. Go to settings to change it.</p>

                                <div pg-form-group="" class="form-group form-group-default input-group">
                                    <label>Broadcast Date</label>
                                    <input type="text" ng-model="$ctrl.broadcast.date" class="form-control"
                                           ui-jq="datepicker" ui-options='{startDate: "today", format: "yyyy-mm-dd"}'>
                                    <span class="input-group-addon btn-primary" style="cursor: pointer">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <div pg-form-group="" class="form-group form-group-default input-group">
                                    <label>Broadcast Time</label>
                                    <input type="text" ng-model="$ctrl.broadcast.time" data-allow-input-toggle="true"
                                           data-append-widget-to="#timepicker-container" data-show-meridian="false"
                                           data-default-time="{{ $ctrl.broadcast.time || 'current' }}"
                                           class="form-control" timepicker/>
                                    <span class="input-group-addon btn-primary" style="cursor: pointer">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                </div>

                                <div class="form-group form-group-default ">
                                    <label>Time Zone Settings</label>
                                    <select ng-model="$ctrl.broadcast.timezone" ng-dropdown class="full-width m-t-10">
                                        <option value="same_time">Send to all at the same time</option>
                                        <option value="time_travel">Time travel</option>
                                        <option value="limit_time">Limit sending time</option>
                                    </select>
                                    <p class="m-b-5 m-t-5 hint-text" ng-if="$ctrl.broadcast.timezone == 'same_time'">All
                                        messages will be sent at the same time and will be delivered as soon as
                                        possible.</p>
                                    <p class="m-b-5 m-t-5 hint-text" ng-if="$ctrl.broadcast.timezone == 'time_travel'">
                                        Message will be delivered at the same daytime according to the user’s
                                        timezone.<br/>Ex: the message scheduled on 9AM BDT will be delivered to your
                                        London located subscribers at 9AM. 5 hours later the message will be delivered
                                        to your New York subscribers (at 9AM EDT), 3 more hours later - to your Los
                                        Angeles users (again, 9AM, PDT). Please note that it can take up to 23 hours
                                        for the message to be delivered to all your users in this case.</p>
                                    <p class="m-b-5 m-t-5 hint-text" ng-if="$ctrl.broadcast.timezone == 'limit_time'">
                                        Message will be delivered as soon as possible once user's daytime in his current
                                        timezone matches desired delivery hours. Please note that it this case it can
                                        take from 0 up to 24 hours to deliver all messages.</p>
                                </div>

                                <div class="row m-b-20" ng-if="$ctrl.broadcast.timezone == 'limit_time'">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>From</label>
                                            <input type="number" value="9" min="1" max="24"
                                                   ng-model="$ctrl.broadcast.send_from" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>To</label>
                                            <input type="number" value="14" min="1" max="24"
                                                   ng-model="$ctrl.broadcast.send_to" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-group-default ">
                                    <label>Notification Settings</label>
                                    <select ng-model="$ctrl.broadcast.notification" class="full-width m-t-10">
                                        <option value="regular">Regular Push</option>
                                        <option value="silent_push">Silent Push</option>
                                        <option value="no_push">Silent</option>
                                    </select>
                                    <p class="m-b-5 m-t-5 hint-text" ng-if="$ctrl.broadcast.notification == 'regular'">
                                        Regular Push notification will make a sound and display a phone notification.
                                        Use it for important messages.</p>
                                    <p class="m-b-5 m-t-5 hint-text"
                                       ng-if="$ctrl.broadcast.notification == 'silent_push'">Silent Push notification
                                        will display a phone notification without sound. Use it for regular messages
                                        that don't require immediate action.</p>
                                    <p class="m-b-5 m-t-5 hint-text" ng-if="$ctrl.broadcast.notification == 'no_push'">
                                        Silent broadcast will not display any notification. Use it for silently sending
                                        content updates.</p>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

                <!-- Next/prev Buttons -->
                <div class="padding-20 bg-white">
                    <ul class="pager wizard">
                        <li class="next">
                            <button type="button finish"
                                    class="btn btn-success btn-cons btn-animated from-left fa fa-check pull-right"
                                    wz-finish>
                                <span>Finish & Save</span>
                            </button>
                        </li>
                        <li class="previous">
                            <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                <span>Previous</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </wz-step>

        </wizard>

    </div>
</div>