<page-header></page-header>
<div class="container-fluid container-fixed-lg">
    <div class="row">

        <div class="col-md-12 m-t-20 text-right sm-text-center">
            <a ui-sref="app.dashboard.broadcast.create" class="btn sm-m-b-5 btn-primary">Create new Broadcast</a>
        </div>

        <div class="col-md-12">
            <h4 class="semi-bold m-t-20 m-b-10"><span class="text-primary bold">Pending</span> Broadcasts</h4>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Broadcast Name</th>
                    <th>Send Date & Time</th>
                    <th style="width:30%"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="broadcast in $ctrl.pending">
                    <td class="v-align-middle">{{ broadcast.name }}</td>
                    <td class="v-align-middle">
                        {{ $ctrl.getDateObject(broadcast) | date:'EEE, MMM d, y — h:mm a' }}
                        <em class="text-hint">
                            <span ng-if="broadcast.timezone_mode != 'subscriber'">({{ broadcast.timezone }})</span>
                            <span ng-if="broadcast.timezone_mode == 'subscriber'">(Each Subscriber's timezone)</span>
                        </em>
                    </td>
                    <td class="v-align-middle text-right">
                        <button ui-sref="app.dashboard.broadcast.edit({broadcastId: broadcast.id})" class="btn sm-m-b-5 btn-sm btn-info btn-rounded">Edit</button>
                        <button class="btn sm-m-b-5 btn-sm btn-danger btn-rounded" ng-click="$ctrl.openCancelModal(broadcast)">Cancel</button>
                    </td>
                </tr>
                <tr ng-if="!$ctrl.pending.length">
                    <td colspan="3" class="text-center">
                        You have no scheduled broadcasts.
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination context="$ctrl.pending.meta.pagination" page-changed-callback="$ctrl.paginatePending(page)"></pagination>
            </div>
        </div>


        <div class="col-md-12">
            <h4 class="semi-bold m-t-20 m-b-10">Broadcasts <span class="text-success bold">History</span></h4>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Broadcast Name</th>
                    <th style="width: 35%">Completed Date</th>
                    <th class="text-center" style="width: 7%">Sent</th>
                    <th class="text-center" style="width: 7%">Read</th>
                    <th style="width: 12%">Clicks / CTR</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="broadcast in $ctrl.processed">
                    <td class="v-align-middle">{{ broadcast.name }}</td>
                    <td class="v-align-middle p-l-10">
                        <strong ng-if="broadcast.status == 'running' || broadcast.remaining_target || broadcast.stats.sent < broadcast.stats.target">
                            <i class="fa fa-spin fa-spinner text-success"></i>
                            Still Sending...
                            <span>{{ broadcast.stats.sent / (broadcast.stats.target + broadcast.remaining_target) | percentage }}</span>
                            <br/>
                        </strong>
                        {{ broadcast.completed_at | date:'EEE, MMM d, y — h:mm a (UTCZ)'}}
                    </td>
                    <td class="v-align-middle text-center">
                        {{ broadcast.stats.sent | number }}
                    </td>
                    <td class="v-align-middle text-center">{{ broadcast.stats.read | number }}</td>
                    <td class="v-align-middle text-center">
                        {{ broadcast.stats.clicked.per_subscriber | number }}
                        <span ng-if="broadcast.stats.clicked.per_subscriber">({{(broadcast.stats.clicked.per_subscriber / broadcast.stats.sent) | percentage}})</span>
                    </td>
                    <td class="v-align-middle text-right">
                        <a ui-sref="app.dashboard.broadcast.show({broadcastId: broadcast.id})" class="btn sm-m-b-5 btn-sm btn-info btn-rounded">Details</a>
                    </td>
                </tr>

                <tr ng-if="!$ctrl.processed.length">
                    <td colspan="6" class="text-center">
                        No Broadcast History.
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="text-center">
                <pagination context="$ctrl.processed.meta.pagination" page-changed-callback="$ctrl.paginateProcessed(page)"></pagination>
            </div>
        </div>

    </div>
</div>