<div class="modal fade slide-up" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">

                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-close fs-14"></i>
                    </button>
                    <h5 class="m-b-20">Add <span class="semi-bold">Button</span></h5>
                </div>

                <div class="modal-body modal-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div pg-form-group="" class="form-group form-group-default">
                                        <label>Button Title</label>
                                        <input type="text" ng-model="button.title" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-info">You can specify <span class="text-danger">more than one</span> action.</div>
                            <div class="alert alert-warning">
                                In order to provide a feedback to your customers, you have to specify either a
                                <span class="bold">Go To Url</span> or <span class="bold">Send Other Messages</span> action.
                            </div>
                            <div class="alert alert-danger" ng-show="isMainMenuButton && button.main_action == 'url'">
                                In Main Menu Buttons <strong>only</strong>, if your main action is "redirect to another website", you cannot chain any other actions.<br />
                                Also, we won't be able to provide you with "(Unique) Subscriber Clicks" click stats
                            </div>
                            <div class="row column-seperation">
                                <div class="col-xs-6" ng-if="isMainMenuButton">
                                    <div pg-form-group="" class="form-group form-group-default">
                                        <label>Main Action</label>
                                        <select ng-model="button.main_action" class="cs-select cs-skin-slide" cs-select>
                                            <option value="url">Redirect to another website</option>
                                            <option value="template">Send message tree</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6" ng-if="!isMainMenuButton || button.main_action == 'url'">
                                    <div pg-form-group="" class="form-group form-group-default">
                                        <label>Go To URL</label>
                                        <input type="text" placeholder="Enter URL" ng-model="button.url" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-6" ng-if="!isMainMenuButton || button.main_action == 'template'">
                                    <select-tree model="button.template" label="'Send message tree'"></select-tree>
                                </div>
                            </div>
                            <hr ng-if="!isMainMenuButton || button.main_action == 'template'"/>
                            <!--<div class="row column-seperation" ng-if="!isMainMenuButton || button.main_action == 'template'">-->
                                <!--<div class="col-sm-6">-->
                                    <!--<select-sequences model="button.add_sequences" label="'When button clicked, Subscribe user to sequence(s)'"></select-sequences>-->
                                <!--</div>-->
                                <!--<div class="col-sm-6">-->
                                    <!--<select-sequences model="button.remove_sequences" label="'When button clicked, Unsubscribe user from sequence'"></select-sequences>-->
                                <!--</div>-->
                                <!--<hr/>-->
                            <!--</div>-->
                            <!--<hr ng-if="!isMainMenuButton || button.main_action == 'template'"/>-->
                            <div class="row column-seperation" ng-if="!isMainMenuButton || button.main_action == 'template'">
                                <div class="col-sm-6">
                                    <select-tags model="button.add_tags" label="'Add tag to user when this button is clicked'"></select-tags>
                                </div>
                                <div class="col-sm-6">
                                    <select-tags model="button.remove_tags" label="'Remove tag from the user when this button is clicked'"></select-tags>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 m-t-10 sm-m-t-10">
                            <button type="button" class="btn btn-danger btn-block m-t-5" data-dismiss="modal" ng-click="delete()">
                                Remove
                            </button>
                        </div>
                        <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
                            <button type="button" class="btn btn-primary btn-block m-t-5" data-dismiss="modal">
                                Save
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
