<div class="row-fluid">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li>
                <a>Sequence <strong>"{{ $ctrl.sequence.name}}"</strong></a>
            </li>
            <li>
                <a>Edit Sequence Message</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <div class="form-group form-group-default ">
            <label>Message Name</label>
            <input ng-model="$ctrl.message.name" type="text" class="form-control m-t-15 input-lg" placeholder="Enter message name" style="margin-top: 5px;">
        </div>
        <div class="form-group form-group-default p-t-15 p-b-15">
            <label class="inline p-r-20 fs-14">Status: </label>
            <input type="checkbox" class="js-switch" ui-switch="{color: '#10cfbd', size: 'small'}" ng-model="$ctrl.message.is_live"  />
            <p class="inline p-l-20 fs-14 m-b-0 m-t-5">
                Sequence is
                <span class="semi-bold label" ng-if="!$ctrl.message.is_live">Draft</span>
                <span class="semi-bold label label-success" ng-if="$ctrl.message.is_live">Live</span>
            </p>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="$ctrl.save()">Save</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
        </div>
    </div>

    <div class="col-xs-9">
        <message-blocks context="$ctrl.message"></message-blocks>
    </div>
</div>