<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary bg-primary-dark m-r-10 m-b-10"
                ng-disabled="$ctrl.template.messages.length >= $ctrl.MAX_MESSAGES"
                ng-click="$ctrl.addTextMessage()">
            + Add Text Message
        </button>
        <button class="btn btn-primary bg-primary-dark m-r-10 m-b-10"
                ng-disabled="$ctrl.template.messages.length >= $ctrl.MAX_MESSAGES"
                ng-click="$ctrl.addImage()">
            + Add Image
        </button>
        <button class="btn btn-primary bg-primary-dark m-r-10 m-b-10"
                ng-disabled="$ctrl.template.messages.length >= $ctrl.MAX_MESSAGES"
                ng-click="$ctrl.addCardContainer()">
            + Add Gallery
        </button>
        <button ng-if="$ctrl.template.messages.length" class="pull-right btn btn-complete" ng-click="$ctrl.sendPreview()">
            <i class="fa fa-comment"></i> Preview
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-repeat="message in $ctrl.template.messages">

            <div class="row">
                <div class="col-xs-12">

                    <div class="panel panel-default bg-master-lighter" pg-portlet>
                        <div class="panel-heading">
                            <div class="panel-title">
                                {{ message.type.replace('_', ' ') | capitalize }} Message
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <a target="_blank" ng-if="message.id" ui-sref="app.dashboard.message.history({messageId: message.id})" pg-tooltip data-trigger="hover" data-original-title="Message History & Stats">
                                            <i class="fa fa-history"></i>
                                        </a>
                                    </li>
                                    <li ng-if="$ctrl.canMoveNext(message)">
                                        <a href="" ng-click="$ctrl.moveNext(message)" pg-tooltip data-trigger="hover" data-original-title="Move Down">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                    </li>
                                    <li ng-if="$ctrl.canMovePrevious(message)">
                                        <a href="" ng-click="$ctrl.movePrevious(message)" pg-tooltip data-trigger="hover" data-original-title="Move Up">
                                            <i class="fa fa-arrow-up"></i>
                                        </a>
                                    </li>
                                    <li ng-if="$ctrl.removable(message)">
                                        <a href="" class="portlet-close" ng-click="$ctrl.openDeleteModal(message)" pg-tooltip data-trigger="hover" data-original-title="Remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="portlet-collapse" data-toggle="collapse" pg-tooltip
                                           data-trigger="hover" data-original-title="Collapse / Expand">
                                            <i class="fa fa-compress"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body m-t-15">

                            <div class="row">

                                <div ng-class="{ 'col-xs-12' : !$ctrl.preview, 'col-xs-7': $ctrl.preview}">
                                    <div ng-switch on="message.type">
                                        <text-message ng-switch-when="text" message="message"></text-message>
                                        <image-message ng-switch-when="image" message="message"></image-message>
                                        <card-container-message ng-switch-when="card_container" message="message"></card-container-message>
                                    </div>
                                </div>

                                <div ng-if="$ctrl.preview" class="col-xs-5">
                                    <message-preview message="message"></message-preview>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>